body {
  font-family: IBM Plex Sans;
  font-size: 14px;
  padding: 10px;
  justify-content: center;
}

p {
  font-size: 16px;
}

h1 {
  font-family: Merriweather;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ca9ee6;
}

h2 {
  font-family: Merriweather;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #a6d189;
}

a {
  display: inline-block;
  transition: transform 0.2s ease;
}
a:hover {
  transform: scale(1.02);
  color: #ca9ee6;
}

.container {
  display: flex;
  background-color: #111111;
  flex-direction: column;
  justify-content: center;
  max-width: 470px;
  /* padding-left: 300px;*/
}

.main {
  justify-content: center;
  padding-left: 300px;
}

.copyright {
  font-size: 12px;
  font-family: Merriweather;
}
